@charset "utf-8";
/* CSS Document */
/* 1024*768 の iPad 対象 */
/* 元画像は 1280 * 800 */
/* 横幅 1280 なら 縦は 960 になる */


html {
	background-color: transparent;
	background-image: none;
	width:100vw;
	height:100vh;
	/* min-height:100%; */
	
}
body {		/* 全ページ基本バックグラウンド */
	width:100vw;
	height:100vh;
	margin:0;
	padding:0;
	color:#FFF;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

	line-height: 18px;

	background:#222;
	background: -moz-linear-gradient(center top, #000, #585048 100%);
	background: -webkit-linear-gradient(center top, #000, #585048 100%);
	background: linear-gradient(to bottom, #000,#333 100%);
	
	background: #000;
	user-select: none;		/* テキストを選択状態にしないようにするために必要 */
	-webkit-user-select: none;	/* テキストを選択状態にしないようにするために必要 */


	background-color:#000;
	display: table-cell;		/*縦方向の中心に screen を表示するために必要*/
	vertical-align:middle;		/* 縦方向中心指定 */
	overflow:hidden;		/* スクロールバーを出さないために必要 */
}
/*********************************************** 描画範囲スクリーン ******************************************************/

div#screen {			/* 画面中央の 4:3 div */
	width:1280px;		/* js で可変 */
	height:960px;		/* js で可変 */
	background: linear-gradient(to bottom, #000,#333 100%);
	background-color:#ffffe0;
	margin: 0 auto;		/* 左右中心にするためにはこの指定が必要。text-align:center では無理 */

}
div#screenVirtual {		/* 仮想画面 1280x960 で描画する */
	position:absolute;	/* 固定  */
	width:1280px;		/* 固定 */
	height:960px;		/* 固定 */
	transform-origin:0 0;	/* 固定 画面サイズの scale のために左上指定 */
	transform:scale(1.0);	/* js で可変 */
}
div#screenRelative {		/* 仮想画面 1280x960 で描画する */
	position:relative;	/* 固定 これにより下層の absolute が効く */
	width:1280px;		/* 固定 */
	height:960px;		/* 固定 */
	transform-origin: center center;	/* 固定 画面エフェクトのためにセンター*/
	perspective: 200px;	/* ためしに追加したら、transform-origin が左上なのでおかしなことに */
}



/************************************************** 汎用指定 ***********************************************************/
.none {
	display: none;
}
input[type=radio]{
	z-index:100;
}


/************************************************* ページヘッダー *******************************************************/








/* ヘッダー内各項目 */

div#text_selected_unitName {
	width: 75%;
	float: left;
	background: #222;
	padding: 0.8em 0.0em 0.2em 0.4em;
	cursor: pointer;
}
div#button_signin {
	width: 20%;
	float: right;
	text-align: center;
	background: rgba(100,100,100,0.3);
	border: 1px solid #AAA;
	border-radius: 4px;
	padding: 0.2em 0.2em 0.2em 0.1em;
	margin: 0.4em 0.3em 0em 0em;
	color: #AAA;
	cursor: pointer;
}

input#menuRadio_main_open:checked ~ div div#button_mainMenu {
	z-index: 101;
}
hr {
	border-width: 0;
	border-top: 2px solid #2E47C4;
	padding: 0;
	float: none;
	clear: both;
}
hr.hidden {
	border-color: transparent;
}
div#text_unitName {
	position: absolute;
	width:70.5%;
	float: left;
	background: linear-gradient(135deg, rgba(255,255,255,0.05) 97%, #666 97.5%) no-repeat;
	padding: 0em 0em 0.1em 0.4em;
	cursor: pointer;
	z-index: 100;
}
input#menuRadio_targetUnit_open:checked ~ div div#text_unitName {
	z-index: 101;
}





/**************************************************** ページ ********************************************************************************************************************************************************/


div[id^=page_] {
	position: absolute;
	left: 0px;
	width: 1280px; /*360px*/
	height: 960px; /*640px*/
	/*background: linear-gradient(to right bottom, rgba(0,0,0,0.3),rgba(60,60,60,0.3) 100%);*/
	background-repeat:no-repeat;
	opacity: 0;
	transform-style: preserve-3d;
	/*perspective: 30px; // perspective は親要素に書く必要があるので div#screen で指定 */
	transform: translateZ(30px);   /* 奥へ -30px*/
	z-index: 1;
	animation: pageInvisible 0.4s none;
	
	overflow: hidden;
	/*background: #ffffe0;*/	/* これが元の背景色 */
	background:#d8e7d8;		/* 薄緑 */
	/*background: linear-gradient(to bottom, #FFFFFF,#ffffe0);*/ /*白から黄色グラデ*/
	/*background: linear-gradient(to bottom, #FFFFFF, #9fc0a5);*/ /*白から緑グラデ*/
}

div#page_01top			{background-image: url("./parts/image/00_white_green.png");	}
div#page_11rihasapoTop		{background-image: url("./parts/image/00_white_green.png");	}
div#page_20userMenu		{background-image: url("./parts/image/00_white_green.png");	}
div#page_30movieList1		{background-image: url("./parts/image/00_white_green.png");	}
div#page_31movieList2		{background-image: url("./parts/image/00_white_green.png");	}
div#page_32movieList3		{background-image: url("./parts/image/00_white_green.png");	}
div#page_40movie		{width:100%; text-align: center;}
div#page_41movieEnd		{background-image: url("./parts/image/00_white_green.png");	}
div#page_50drillTop		{background-image: url("./parts/image/00_white_green.png");	}
div#page_51question		{background-image: url("./parts/image/00_white_green.png");	}
div#page_52correct		{background-image: url("./parts/image/00_white_green.png");	}
div#page_53wrong		{background-image: url("./parts/image/00_white_green.png");	}
div#page_54end			{background-image: url("./parts/image/54_end.png");		}
div#page_90adminTop		{background-image: url("./parts/image/00_white_green.png");	}
div#page_91userMaster		{background-image: url("./parts/image/00_white_green.png");	}
div#page_92mode			{background-image: url("./parts/image/00_white_green.png");	}
div#page_93password		{background-image: url("./parts/image/93_password.png");	/*不要*/	}
div#page_94rehabiliMaster	{background-image: url("parts/image/94_rehabiliMaster.png");	/*不要*/	}
div#page_95userMenu		{background-image: url("./parts/image/00_white_green.png");	}
div#page_96normalMenu		{background-image: url("parts/image/96_normalMenu.png");	/*不要*/	}
div#page_97drillMaster		{background-image: url("./parts/image/00_white_green.png");	}
div#page_98userDrill		{background-image: url("./parts/image/00_white_green.png");	}



/* ページ切り替え */
input#pageRadio_01top:checked ~ div#page_01top 				{animation: pageVisible 0.4s forwards;}
input#pageRadio_11rihasapoTop:checked ~ div#page_11rihasapoTop 		{animation: pageVisible 0.4s forwards;}
input#pageRadio_20userMenu:checked ~ div#page_20userMenu			{animation: pageVisible 0.4s forwards;}
input#pageRadio_30movieList1:checked ~ div#page_30movieList1		{animation: pageVisible 0.4s forwards;}
input#pageRadio_31movieList2:checked ~ div#page_31movieList2		{animation: pageVisible 0.4s forwards;}
input#pageRadio_32movieList3:checked ~ div#page_32movieList3		{animation: pageVisible 0.4s forwards;}
input#pageRadio_40movie:checked ~ div#page_40movie			{animation: pageVisible 0.4s forwards;}
input#pageRadio_41movieEnd:checked ~ div#page_41movieEnd		{animation: pageVisible 0.4s forwards;}
input#pageRadio_50drillTop:checked ~ div#page_50drillTop		{animation: pageVisible 0.4s forwards;}
input#pageRadio_51question:checked ~ div#page_51question		{animation: pageVisible 0.4s forwards;}
input#pageRadio_52correct:checked ~ div#page_52correct			{animation: pageVisible 0.4s forwards;}
input#pageRadio_53wrong:checked ~ div#page_53wrong			{animation: pageVisible 0.4s forwards;}
input#pageRadio_54end:checked ~ div#page_54end				{animation: pageVisible 0.4s forwards;}
input#pageRadio_90adminTop:checked ~ div#page_90adminTop		{animation: pageVisible 0.4s forwards;}
input#pageRadio_91userMaster:checked ~ div#page_91userMaster		{animation: pageVisible 0.4s forwards;}
input#pageRadio_92mode:checked ~ div#page_92mode			{animation: pageVisible 0.4s forwards;}
input#pageRadio_93password:checked ~ div#page_93password		{animation: pageVisible 0.4s forwards;}
input#pageRadio_94rehabiliMaster:checked ~ div#page_94rehabiliMaster	{animation: pageVisible 0.4s forwards;}
input#pageRadio_95userMenu:checked ~ div#page_95userMenu		{animation: pageVisible 0.4s forwards;}
input#pageRadio_96normalMenu:checked ~ div#page_96normalMenu		{animation: pageVisible 0.4s forwards;}
input#pageRadio_97drillMaster:checked ~ div#page_97drillMaster		{animation: pageVisible 0.4s forwards;}
input#pageRadio_98userDrill:checked ~ div#page_98userDrill		{animation: pageVisible 0.4s forwards;}


@keyframes pageInvisible {
	0%   {opacity:1; transform: translateZ(0px) ; z-index: 99;}
	100% {opacity:0; transform: translateZ(30px); z-index: 1;}
}
@keyframes pageVisible {
	0%   {opacity:0; transform: translateZ(-30px); z-index: 1;}
	100% {opacity:1; transform: translateZ(0px)  ; z-index: 99;}
}


/************************************************ ページコンテンツ ******************************************************/
div[id^=title_]{
	position:absolute;
	color:#ff5628;
	font-size:2.5em;
	left:0;
	top:18px;
	width:1280px;
	text-align:center;
}
div#title_movieList1,
div#title_movieList2,
div#title_movieList3 {
	left:   0px; top: 10px; width:1280px;;
	line-height:1.5em;
	color:#ff5628;
	font-size:2.5em;
	text-align:center;
}


table {
	position:absolute;
	background:rgba(220,220,220,0.5);
}
td {
	height:2.5em;
	vertical-align:middle;
	
	border:1px solid #CCC;
	border-width: 0 0 1px 0;
	font-size:1.2em;
	
	padding:0 0 0 0.5em;
}
tr {
	background:#EEE;
	color:#000;
}
tr.active {
	background:linear-gradient(to bottom, rgb(64, 64, 250), rgb(48, 48, 220), rgb(60, 60, 230));
	background:linear-gradient(to bottom, rgb(250, 120, 64), rgb(220, 110, 48), rgb(230, 115, 60));
	background:linear-gradient(to bottom, rgb(255, 178, 146), rgb(246, 178, 140), rgb(230, 158, 129));
	color:#000;
}

input[type=radio] {
	position:absolute;
}
select {
	position:absolute;
	border:1px;		/* border を変えないと font-size は効かないので必要 */
	font-size:1.5em;
	padding-left:30px;

}
option {
	/*font-size:2em;*/
}
img {
	position:absolute;
}
input[type=text] {
	position: absolute;
	border: 1px solid #000;
	border-radius: 5px;
}




/*気づき＆記録の項目**************************************************************/

/***************************************** メニュー類 ***********************************************/

/*screenBlocker はメニュー表示時に下の画面を半透明で隠し、メニュー外をクリックしたときにメニューを閉じるイベントを起こす*/



/*メインメニュー*************************************************/



/******************************************* ボタン類 ********************************************/
div[id^=button_],
div[id^=overlay_]{
	position:absolute;
	left:0px;
	color:#000;
	width:200px; /*360px*/
	height:40px; /*640px*/
	opacity:1;
	text-align:center;
	overflow:hidden;
	line-height:2.4em;
	border-radius: 5px;
	font-size: 3.2em;
}
div[id^=button_] {
	cursor:pointer;
	background:linear-gradient(to bottom, rgb(250, 250, 250), rgb(220, 220, 220), rgb(230, 230, 230));
	border: solid 1px #CCC;
}
div[id^=overlay_],
div.overlay {
	background:linear-gradient(to bottom, rgba(250, 250, 250, 0.5), rgba(220, 220, 220, 0.5), rgba(230, 230, 230, 0.5));
	border: solid 1px rgba(192,192,192,0.5);
}
div[id^=label_] {
	position:absolute;
	color:#000;
	font-size: 2.5em;
}
div[id^=dialog_],
div[id^=background_],
div[id^=window_],
div[id^=barBackground_],
div[id^=bar_] {
	position: absolute;
}
div[id^=preview_] {
	position: absolute;
	pointer-events: none;
}

input[id^=form_] {
	position:absolute;
	color:#F00;
	font-size: 1.9em;
	border:1.5px solid #000;
	border-radius:5px;
}
div[id^=button_].active {
	background:linear-gradient(to bottom, rgb(64, 64, 250), rgb(48, 48, 220), rgb(60, 60, 230));
}
div[id^=button_]:hover {
	background:linear-gradient(to bottom, rgb(250, 120, 64), rgb(220, 110, 48), rgb(230, 115, 60));
}
div[id^=button_privateMovieList01_],
div[id^=button_privateMovieList02_],
div[id^=button_privateMovieList05_],
div[id^=button_privateMovieList06_],
div[id^=button_privateMovieList09_],
div[id^=button_privateMovieList10_],
div[id^=button_movieList01_],
div[id^=button_movieList02_],
div[id^=button_movieList05_],
div[id^=button_movieList06_],
div[id^=button_movieList09_],
div[id^=button_movieList10_] {
	background:linear-gradient(to bottom, rgb(255, 120, 120), rgb(255, 85, 85));
}
div[id^=button_privateMovieList03_],
div[id^=button_privateMovieList04_],
div[id^=button_privateMovieList07_],
div[id^=button_privateMovieList08_],
div[id^=button_privateMovieList11_],
div[id^=button_privateMovieList12_],
div[id^=button_movieList03_],
div[id^=button_movieList04_],
div[id^=button_movieList07_],
div[id^=button_movieList08_],
div[id^=button_movieList11_],
div[id^=button_movieList12_] {
	background:linear-gradient(to bottom, rgb(120, 120, 255), rgb(85, 85, 255));
}

/* Top */
div#title_1_at01			{top:270px; font-size:4.0em; color:#5ca467; text-shadow: 0px 2px 5px #9fc0a5;}
div#title_2_at01			{top:385px; font-size:7.0em; color:#F94;    text-shadow: 0px 2px 5px #9fc0a5;}
div#title_3_at01			{top:485px; font-size:1.6em; color:#777;    text-shadow: 0px 2px 5px #9fc0a5;}
img#img_1eft_at01			{left:  55px; top:278px; transform:scale(2.0,2.0) rotate( 5deg); filter: blur(7px) opacity(60%);}
img#img_right_at01			{left: 972px; top:278px; transform:scale(1.7,1.7) rotate(-5deg); filter: blur(7px) opacity(60%);}
div#button_go_30movieList1_at01		{left: 336px; top:700px; width:607px; height:114px;}
div#button_go_31movieList2_at01		{left: 336px; top:700px; width:607px; height:114px;}
div#button_go_11rihasapoTop_at01	{left:  16px; top:700px; width:607px; height:114px;}
div#button_go_90adminTop_at01		{left: 655px; top:700px; width:607px; height:114px;}
div#button_go_50drillTop_at01		{left:  16px; top:831px; width:607px; height:114px;}
div#button_exitApp_at01			{left: 655px; top:831px; width:607px; height:114px;}
/* リハサポTop */
div#title_rihasapo_at11			{top: 45px; font-size:4em;}
img#img_left_at11			{left: 251px; top:266px;}
div#button_go_20userMenu_at11		{left: 774px; top:108px; width:488px; height:125px;}
div#button_go_30movieList1_at11		{left: 774px; top:250px; width:488px; height:125px;}
div#button_go_01top_at11		{left: 774px; top:392px; width:488px; height:125px;}
/* リハサポ個人 */
div#button_go_11rihasapoTop_at20	{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}
select#select_user_at20			{left:   5px; top:  3px; width:480px; font-size:1.95em;}
div#button_prevPage_at20		{left:  15px; top: 82px; width:158px; height: 49px; line-height:1.5em; font-size:1.92em;}
div#label_page_at20			{left: 172px; top:100px; width:100px; font-size:1.92em; text-align:center;}
div#button_nextPage_at20		{left: 270px; top: 82px; width:158px; height: 49px; line-height:1.5em; font-size:1.92em;}

div#button_privateMovieList01_at20	{left:  10px; top:142px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList02_at20	{left: 650px; top:142px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList03_at20	{left:  10px; top:278px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList04_at20	{left: 650px; top:278px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList05_at20	{left:  10px; top:414px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList06_at20	{left: 650px; top:414px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList07_at20	{left:  10px; top:550px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList08_at20	{left: 650px; top:550px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList09_at20	{left:  10px; top:686px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList10_at20	{left: 650px; top:686px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList11_at20	{left:  10px; top:822px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_privateMovieList12_at20	{left: 650px; top:822px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}

/* リハサポ一般 */
div#button_go_01top_at30		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}
div#button_go_01top_at31		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}
div#button_go_11rihasapoTop_at30	{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}
div#button_go_30movieList1_at31		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}
div#button_go_31movieList2_at32		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}

div#button_movieList01_at30		{left:  10px; top: 82px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList02_at30		{left: 650px; top: 82px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList03_at30		{left:  10px; top:218px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList04_at30		{left: 650px; top:218px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList05_at30		{left:  10px; top:354px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList06_at30		{left: 650px; top:354px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList07_at30		{left:  10px; top:490px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList08_at30		{left: 650px; top:490px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList09_at30		{left:  10px; top:626px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList10_at30		{left: 650px; top:626px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}


div#button_movieList01_at31		{left:  10px; top: 82px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList02_at31		{left: 650px; top: 82px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList03_at31		{left:  10px; top:218px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList04_at31		{left: 650px; top:218px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList05_at31		{left:  10px; top:354px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList06_at31		{left: 650px; top:354px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList07_at31		{left:  10px; top:490px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList08_at31		{left: 650px; top:490px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList09_at31		{left:  10px; top:626px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList10_at31		{left: 650px; top:626px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}


div#button_movieList01_at32		{left:  10px; top: 82px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList02_at32		{left: 650px; top: 82px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList03_at32		{left:  10px; top:218px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList04_at32		{left: 650px; top:218px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList05_at32		{left:  10px; top:354px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList06_at32		{left: 650px; top:354px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList07_at32		{left:  10px; top:490px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList08_at32		{left: 650px; top:490px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList09_at32		{left:  10px; top:626px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#button_movieList10_at32		{left: 650px; top:626px; width:618px; height:124px; line-height:2.5em; font-size:3.10em;}
div#preview_movieList01_at32		{left:  10px; top: 87px; width:115px; height:115px; }
div#preview_movieList02_at32		{left: 650px; top: 87px; width:115px; height:115px; }
div#preview_movieList03_at32		{left:  10px; top:223px; width:115px; height:115px; }
div#preview_movieList04_at32		{left: 650px; top:223px; width:115px; height:115px; }
div#preview_movieList05_at32		{left:  10px; top:359px; width:115px; height:115px; }
div#preview_movieList06_at32		{left: 650px; top:359px; width:115px; height:115px; }
div#preview_movieList07_at32		{left:  10px; top:495px; width:115px; height:115px; }
div#preview_movieList08_at32		{left: 650px; top:495px; width:115px; height:115px; }
div#preview_movieList09_at32		{left:  10px; top:631px; width:115px; height:115px; }
div#preview_movieList10_at32		{left: 650px; top:631px; width:115px; height:115px; }
div[id^=preview_movieList] img 		{width:115px; height:115px;}


/* ムービー画面 */
video#videoA				{width:100%; height:100%; object-fit: cover;}
video#videoB				{width:100%; height:100%; object-fit: cover;}
div#pageCenter				{position:relative; width:1280px; height:100%;}
div#button_exitMovie_1			{left:1119px; top:  0px; width:159px; height: 92px; line-height:2.4em; font-size:2.50em;}

div#title_movie				{left:   0px; top:  0px; color:#fff; text-shadow: 1px 1px 3px #000;    line-height:1.5em; font-size:1.85em; pointer-events:none; }
div#title_purchase			{left:   0px; top:  0px; color:#fff; text-shadow: 1px 1px 3px #000;    line-height:1.5em; font-size:1.85em; pointer-events:none; }

div#button_play01z05_01			{left:   0px; top: 40px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}
div#button_play01z05_02			{left:  96px; top: 40px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}
div#button_play01z05_03			{left: 192px; top: 40px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}
div#button_play01z05_04			{left: 288px; top: 40px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}
div#button_play01z05_05			{left: 384px; top: 40px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}

div#button_play10z50_10			{left:   0px; top: 40px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}
div#button_play10z50_20			{left:  96px; top: 40px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}
div#button_play10z50_30			{left: 192px; top: 40px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}
div#button_play10z50_40			{left: 288px; top: 40px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}
div#button_play10z50_50			{left: 384px; top: 40px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}

div#button_purchase120			{left:   0px; top:  0px; width:180px; height:150px; line-height:0.65em; font-size:3.50em;}
div#button_purchase120 span		{font-size:0.5em;}

div#overlay_totalPlayTimes		{left:   0px; top:  0px; width: 83px; height: 93px; line-height:2.5em; font-size:2.50em;}
div#overlay_remainingPlayTimes		{left:   0px; top:300px; width:286px; height:198px; line-height:3.65em; font-size:3.75em; overflow:hidden;}
span#span_remainingPlayTimes		{font-size:2.10em;}
div#overlay_counter			{left:   0px; top:520px; width:286px; height:198px; line-height:1.6em; font-size:8.00em;}

div#title_movieEnd			{left:   0px; top: 60px; color: #000;		    line-height:2.5em; font-size:5.00em;}
div#button_exitMovie_2			{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;			}


/* 認知症予防ドリル */

div#title_drillTop_at50			{top: 43px; font-size:3.7em;}
img#img_1eft_at50			{left: 200px; top:238px;}
div#button_go_51question_at50		{left: 830px; top:108px; width:434px; height:125px;}
div#button_go_01top_at50		{left: 830px; top:250px; width:434px; height:125px;}


div#button_go_prevQuestion_at51		{left: 635px; top:  0px; width:347px; height: 75px; line-height:1.5em;}
div#button_go_50drillTop_at51		{left:1015px; top:  0px; width:247px; height: 75px; line-height:1.5em;}
div#question_table			{left:   3px; top:100px; display:table; position:absolute;}
div#question_left			{width:634px; height:640px; font-size:5em; display:table-cell; vertical-align:middle; color:#111;}
div#question_right			{width:634px; height:640px; font-size:5em; display:table-cell; vertical-align:middle; color:#111; text-align:center;}
div#button_answer1_at51			{left:  16px; top:757px; width:607px; height: 89px; line-height:1.5em; font-size:3.80em;}
div#button_answer2_at51			{left: 655px; top:757px; width:607px; height: 89px; line-height:1.5em; font-size:3.80em;}
div#button_answer3_at51			{left:  16px; top:857px; width:607px; height: 89px; line-height:1.5em; font-size:3.80em;}
div#button_answer4_at51			{left: 655px; top:857px; width:607px; height: 89px; line-height:1.5em; font-size:3.80em;}



div#button_go_51question_at52		{left: 405px; top:  0px; width:348px; height: 75px; line-height:1.5em;}
div#button_go_nextQuestion_at52		{left: 785px; top:  0px; width:198px; height: 75px; line-height:1.5em;}
div#button_go_50drillTop_at52		{left:1015px; top:  0px; width:247px; height: 75px; line-height:1.5em;}
img#img_left_at52			{left: 100px; top:180px;}
div#label_correct_at52			{left: 700px; top:450px; font-size:13em; color:#ff5628;}

div#button_go_51question_at53		{left: 405px; top:  0px; width:348px; height: 75px; line-height:1.5em;}
div#button_go_nextQuestion_at53		{left: 785px; top:  0px; width:198px; height: 75px; line-height:1.5em;}
div#button_go_50drillTop_at53		{left:1015px; top:  0px; width:247px; height: 75px; line-height:1.5em;}
img#img_left_at53			{left: 100px; top:180px;}
div#label_wrong_at53			{left: 700px; top:450px; font-size:13em; color:#3b5aff;}


/* 管理メニューTop */
div#title_90adminTop_at90		{font-size:3.75em; top:32px;}
div#button_go_01top_at90		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}

div#label_general_at90			{left:  15px; top:137px; font-size:1.75em}
div#button_go_91userMaster_at90		{left:  15px; top:177px; width:394px; height:105px; line-height:3.0em; font-size:2.17em;}
div#button_go_92mode_at90		{left: 441px; top:177px; width:394px; height:105px; line-height:3.0em; font-size:2.17em;}
div#button_go_93password_at90		{left: 868px; top:177px; width:394px; height:105px; line-height:3.0em; font-size:2.17em; opacity: 0.3;}

div#label_rihasapo_at90			{left:  15px; top:310px; font-size:1.75em}
div#button_go_94rehabiliMaster_at90	{left:  15px; top:350px; width:394px; height:105px; line-height:3.0em; font-size:2.17em; opacity: 0.3;}
div#button_go_95userMenu_at90		{left: 441px; top:350px; width:394px; height:105px; line-height:3.0em; font-size:2.17em;}
div#button_go_96normalMenu_at90		{left: 868px; top:350px; width:394px; height:105px; line-height:3.0em; font-size:2.17em; opacity: 0.3;}

div#label_drill_at90			{left:  15px; top:483px; font-size:1.75em}
div#button_go_97drillMaster_at90	{left:  15px; top:523px; width:394px; height:105px; line-height:3.0em; font-size:2.17em;}
div#button_go_98userDrill_at90		{left: 441px; top:523px; width:394px; height:105px; line-height:3.0em; font-size:2.17em;}


/* 管理＞個人マスター管理 */
div#title_userMaster_at91		{}
div#button_go_90adminTop_at91		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}

table#table_userMaster_at91		{left:  30px; top: 92px; width:580px;}
table#table_userMaster_at91 tbody	{display:block; width:580px; height:840px; overflow-y:scroll;}
table#table_userMaster_at91 tbody td	{width:580px;}

div#label_chartNo_at91			{left: 640px; top:121px;}
div#label_LastName_at91			{left: 640px; top:220px;}
div#label_firstName_at91		{left: 640px; top:319px;}
input#form_chartNo_at91			{left: 640px; top:156px; width:607px; height: 42px; line-height:1.5em;}
input#form_lastName_at91		{left: 640px; top:255px; width:607px; height: 42px; line-height:1.5em;}
input#form_firstName_at91		{left: 640px; top:354px; width:607px; height: 42px; line-height:1.5em;}
input#form_serverUserId_at91		{left: 640px; top:554px; width:607px; height: 42px; line-height:1.5em;}
input#form_localUserId_at91		{left: 640px; top:654px; width:607px; height: 42px; line-height:1.5em;}
div#button_update_at91			{left: 655px; top:429px; width: 98px; height: 49px; line-height:1.5em; font-size:2.00em;}
div#button_delete_at91			{left: 785px; top:429px; width: 98px; height: 49px; line-height:1.5em; font-size:2.00em;}
div#button_insert_at91			{left: 915px; top:429px; width:158px; height: 49px; line-height:1.5em; font-size:2.00em;}

/* 管理＞動作モード変更 */
div#button_go_90adminTop_at92		{left:1065px; top:  0px; width:197px; height: 76px; line-height:1.5em;}
div#label_multiUserMode_at92		{left: 536px; top:341px;}
div#label_singleUserMode_at92		{left: 536px; top:414px;}
input#radio_mode_multiUser_at92		{left: 513px; top:341px;}
input#radio_mode_singleUser_at92	{left: 513px; top:415px;}
select#select_user_at92			{left: 540px; top:450px;}

/* 管理＞パスワード変更（削除予定）*/
div#button_go_90adminTop_at93		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}
/* 管理＞リハビリマスター管理（削除予定）*/
div#button_go_90adminTop_at94		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}

/* 管理＞個人メニュー管理 */
div#title_userMenu_at95			{}
div#button_go_90adminTop_at95		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}

select#select_user_at95			{left:   5px; top:55px;}
div#label_rehabili1_at95		{left:  66px; top:139px; font-size:1.92em;}
div#label_count1_at95			{left: 341px; top:139px; font-size:1.92em;}
div#label_result1_at95			{left: 520px; top:139px; font-size:1.92em;}
div#label_rehabili2_at95		{left: 703px; top:139px; font-size:1.92em;}
div#label_count2_at95			{left: 981px; top:139px; font-size:1.92em;}
div#label_result2_at95			{left:1157px; top:139px; font-size:1.92em;}

select#select_userMenu01_rehabili	{left:   6px; top:173px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu01_count		{left: 337px; top:173px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu01_result		{left: 464px; top:172px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}
select#select_userMenu02_rehabili	{left: 644px; top:173px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu02_count		{left: 975px; top:173px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu02_result		{left:1102px; top:172px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}

select#select_userMenu03_rehabili	{left:   6px; top:230px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu03_count		{left: 337px; top:230px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu03_result		{left: 464px; top:229px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}
select#select_userMenu04_rehabili	{left: 644px; top:230px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu04_count		{left: 975px; top:230px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu04_result		{left:1102px; top:229px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}

select#select_userMenu05_rehabili	{left:   6px; top:287px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu05_count		{left: 337px; top:287px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu05_result		{left: 464px; top:286px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}
select#select_userMenu06_rehabili	{left: 644px; top:287px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu06_count		{left: 975px; top:287px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu06_result		{left:1102px; top:286px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}

select#select_userMenu07_rehabili	{left:   6px; top:344px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu07_count		{left: 337px; top:344px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu07_result		{left: 464px; top:343px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}
select#select_userMenu08_rehabili	{left: 644px; top:344px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu08_count		{left: 975px; top:344px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu08_result		{left:1102px; top:343px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}

select#select_userMenu09_rehabili	{left:   6px; top:401px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu09_count		{left: 337px; top:401px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu09_result		{left: 464px; top:400px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}
select#select_userMenu10_rehabili	{left: 644px; top:401px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu10_count		{left: 975px; top:401px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu10_result		{left:1102px; top:400px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}

select#select_userMenu11_rehabili	{left:   6px; top:458px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu11_count		{left: 337px; top:458px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu11_result		{left: 464px; top:457px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}
select#select_userMenu12_rehabili	{left: 644px; top:458px; width:324px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:2%;}
select#select_userMenu12_count		{left: 975px; top:458px; width:122px; height: 50px; line-height: 1.5em; font-size:1.55em; text-indent:30%;}
input#text_userMenu12_result		{left:1102px; top:457px; width:171px; height: 50px; line-height: 1.5em; font-size:1.55em; text-align:center;}




div#button_update_at95			{left:  15px; top:529px; width: 98px; height: 49px; line-height:1.5em; font-size:1.92em; opacity: 0.3;}
div#button_clear_at95			{left: 145px; top:529px; width:218px; height: 49px; line-height:1.5em; font-size:1.92em;}
div#button_history_at95			{left: 395px; top:529px; width:158px; height: 49px; line-height:1.5em; font-size:1.92em;}
div#button_prevPage_at95		{left: 585px; top:529px; width:158px; height: 49px; line-height:1.5em; font-size:1.92em;}
div#label_page_at95			{left: 732px; top:547px; width:100px; font-size:1.92em; text-align:center;}
div#button_nextPage_at95		{left: 820px; top:529px; width:158px; height: 49px; line-height:1.5em; font-size:1.92em;}

/* 管理＞一般メニュー管理（削除予定）*/
div#button_go_90adminTop_at96		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}

/* 管理＞ドリルマスター管理 */
div#title_97drillMaster_at97		{}
div#button_go_90adminTop_at97		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}

table#table_drillMaster_at97		{left:  40px; top: 96px; width:280px;}
table#table_drillMaster_at97 tbody	{display:block; width:280px; height:840px; overflow-y:scroll;}
table#table_drillMaster_at97 tbody td	{width:580px;}


div#label_questionName_at97		{left: 350px; top:120px; font-size:1.92em;}
input#form_questionName_at97		{left: 352px; top:148px; width:831px; height: 42px; line-height:1.5em;}
div#label_question_at97			{left: 350px; top:217px; font-size:1.92em;}
input#form_question_at97		{left: 352px; top:244px; width:831px; height: 42px; line-height:1.5em;}

input#radio_questionType_image_at97	{left: 361px; top:321px;}
div#label_useImage_at97			{left: 386px; top:320px; font-size:1.85em;}
input#radio_questionType_text_at97	{left: 633px; top:321px;}
div#label_useText_at97			{left: 657px; top:320px; font-size:1.85em;}

input#file_questionImage_at97		{display:none;}
div#label_file_at97			{left: 352px; top:350px; width:831px; height: 42px; font-size:1.85em; line-height:1.25em; border: 1px solid #000; border-radius:5px; background:#FFF;}
div#label_fileName_at97			{left: 352px; top:350px; width:831px; height: 42px; font-size:1.85em; line-height:1.25em; border: 1px solid #000; border-radius:5px; background:#FFF;}

div#label_choices_at97			{left: 350px; top:420px; font-size:1.92em;}

div#label_answer1_at97			{left: 346px; top:465px; font-size:1.92em;}
input#form_answer1_at97			{left: 374px; top:449px; width:378px; height: 42px; line-height:1.5em;}
div#label_answer2_at97			{left: 766px; top:465px; font-size:1.92em;}
input#form_answer2_at97			{left: 802px; top:449px; width:378px; height: 42px; line-height:1.5em;}
div#label_answer3_at97			{left: 346px; top:519px; font-size:1.92em;}
input#form_answer3_at97			{left: 374px; top:504px; width:378px; height: 42px; line-height:1.5em;}
div#label_answer4_at97			{left: 766px; top:519px; font-size:1.92em;}
input#form_answer4_at97			{left: 802px; top:504px; width:378px; height: 42px; line-height:1.5em;}

div#label_correctNo_at97		{left: 350px; top:571px; font-size:1.92em;}
input#form_correctNo_at97		{left: 352px; top:600px; width:370px; height: 42px; line-height:1.5em;}

div#button_update_at97			{left: 367px; top:665px; width: 98px; height: 49px; line-height:1.6em; font-size:1.90em;}
div#button_delete_at97			{left: 497px; top:665px; width: 98px; height: 49px; line-height:1.6em; font-size:1.90em;}
div#button_insert_at97			{left: 627px; top:665px; width:158px; height: 49px; line-height:1.6em; font-size:1.90em;}

/* 管理＞個人ドリルリスト */
div#title_userDrill_at98		{}
div#button_go_90adminTop_at98		{left:1065px; top:  0px; width:197px; height: 75px; line-height:1.5em;}

select#select_user_at98			{left:  70px; top: 60px;}

div#label_drillMaster_at98		{left: 155px; top:123px; font-size: 1.8em;}
div#label_userDrill_at98		{left: 952px; top:123px; font-size: 1.8em;}

table#table_drillMaster_at98		{left:  90px; top:152px; width:330px;}
table#table_drillMaster_at98 tbody	{display:block; width:330px; height:740px; overflow-y:scroll;}
table#table_drillMaster_at98 tbody td	{width:330px;}

table#table_userList_at98		{left: 890px; top:152px; width:330px;}
table#table_userList_at98 tbody		{display:block; width:330px; height:740px; overflow-y:scroll;}
table#table_userList_at98 tbody	td	{width:330px;}

div#button_add_at98			{left: 463px; top:328px; width:352px; height: 47px; font-size: 1.3em; line-height: 2.4em;}
div#button_delete_at98			{left: 463px; top:401px; width:352px; height: 47px; font-size: 1.3em; line-height: 2.4em;}
div#button_update_at98			{left: 463px; top:474px; width:352px; height: 47px; font-size: 1.3em; line-height: 2.4em;}
div#button_history_at98			{left: 543px; top:694px; width:192px; height: 47px; font-size: 1.3em; line-height: 2.4em;}

/* ダイアログ */
div#overlay_background_at99		{left:   0px; top:  0px; width:1280px;height:960px; z-index:900; background:rgba(0,0,0,0.5);}

div#window_checkFiles_at99		{left: 390px; top:390px; width:500px; height:200px; z-index:900;
					border:5px ridge #EEE; border-radius: 20px;
					background:linear-gradient(155deg, rgba(255,255,255,0.9), rgba(60,108,60,0.9));}
div#label_checking_at99			{left:30px; top:80px;color:#DDD;font-size:1.6em;line-height:1.6em;}

div#dialog_99downloadFiles		{left:   0px; top:  0px; width:1280px;height:960px; z-index:900;}
div#window_downloadFiles_at99		{left: 190px; top:140px; width:900px; height:700px; z-index:900;
					border:5px ridge #EEE; border-radius: 20px;
					background:linear-gradient(155deg, rgba(255,255,255,0.9), rgba(60,108,60,0.9));}
div#title_downloading_at99		{left:-190px; top:80px;}
div#label_description_at99		{left:60px; top:420px;color:#DDD;font-size:1.6em;line-height:1.6em;}
div#button_download_cancel		{left: 250px; top:580px; width:400px; height:49px; line-height:1.6em; font-size:1.90em;}

div#barBackground_bars_at99		{left:  0px; top:170px; width:900px; height:240px;
					background:linear-gradient(180deg, rgba(0,0,0,0.15), rgba(0,0,0,0.05));}
div#barBackground_files_at99		{left:100px; top:260px; width:700px; height:25px;
					background:linear-gradient(180deg, rgba(0,0,0,0.2), rgba(60,108,60,0.2));}
div#barBackground_oneFile_at99		{left:100px; top:300px; width:700px; height:15px;
					background:linear-gradient(180deg, rgba(0,0,0,0.2), rgba(60,108,60,0.2));}
div#bar_files_at99			{left:100px; top:260px; width:0px; height:25px;
					background:linear-gradient(180deg, rgba(255,200,0,0.9), rgba(128,100,0,0.4));}
div#bar_oneFile_at99			{left:100px; top:300px; width:0px; height:15px;
					background:linear-gradient(180deg, rgba(255,200,0,0.9), rgba(128,100,0,0.4));}

div#window_expired_at99			{left: 290px; top:240px; width:700px; height:500px; z-index:900;
					border:5px ridge #EEE; border-radius: 20px;
					background:linear-gradient(155deg, rgba(255,255,255,0.9), rgba(60,108,60,0.9));}
div#title_expired_at99			{left:-290px; top:80px;}
div#label_expired_at99			{left:60px; top:220px;color:#FFF;font-size:1.6em;line-height:1.6em;}
div#label_expired2_at99			{left:20px; top:140px; color:#F00; font-size:1.2em; line-height:1.2em;}

div#background_expired_at99		{left:  0px; top:170px; width:700px; height:330px;
					background:linear-gradient(180deg, rgba(0,0,0,0.15), rgba(0,0,0,0.05));}
div#button_expired_cancel		{left: 050px; top:380px; width:290px; height:49px; line-height:1.6em; font-size:1.90em;}
div#button_expired_purchase		{left: 45px; top:390px; width:290px; height:49px; line-height:1.6em; font-size:1.90em;}
div#button_expired_restore		{left: 370px; top:390px; width:290px; height:49px; line-height:1.6em; font-size:1.90em;}


div#window_expired_at100			{left: 290px; top:240px; width:700px; height:500px; z-index:900;
	border:5px ridge #EEE; border-radius: 20px;
	background:linear-gradient(155deg, rgba(255,255,255,0.9), rgba(60,108,60,0.9));}
div#title_expired_at100			{left:-290px; top:80px;}
div#label_expired_at100			{left:60px; top:220px;color:#FFF;font-size:1.6em;line-height:1.6em;}
div#label_expired2_at100			{left:20px; top:140px; color:#F00; font-size:1.2em; line-height:1.2em;}

div#background_expired_at100		{left:  0px; top:170px; width:700px; height:330px;
	background:linear-gradient(180deg, rgba(0,0,0,0.15), rgba(0,0,0,0.05));}
/*div#button_expired_cancel2		{left: 050px; top:380px; width:290px; height:49px; line-height:1.6em; font-size:1.90em;}*/
div#button_expired_purchase2		{left: 200px; top:390px; width:290px; height:49px; line-height:1.6em; font-size:1.90em;}

div#window_purchaseError_at99		{left: 290px; top:240px; width:700px; height:500px; z-index:900;
					border:5px ridge #EEE; border-radius: 20px;
					background:linear-gradient(155deg, rgba(255,255,255,0.9), rgba(60,108,60,0.9));}
div#title_purchaseError_at99		{left:-290px; top:80px;}
div#label_purchaseError_at99		{left:60px; top:220px;color:#FFF;font-size:1.6em;line-height:1.6em;}
div#background_purchaseError_at99	{left:  0px; top:170px; width:700px; height:330px;
					background:linear-gradient(180deg, rgba(0,0,0,0.15), rgba(0,0,0,0.05));}
div#button_purchaseError_purchase	{left: 200px; top:390px; width:290px; height:49px; line-height:1.6em; font-size:1.90em;}






.wrapper {
	height: 100%; /* 高さを画面いっぱいに指定する。(vhが効かない場合の対策)*/
	height: 100vh; /* 高さを画面いっぱいに指定する。*/
	position: relative;  /* 横幅がウィンドウズサイズの縦幅よりもはみ出てしまう場合に、左にずらすために指定。*/
	width: 100%; /* 横幅もいっぱいに。*/
}
video#video2 {
	background-attachment: fixed; /* 中央揃えになるように、fixed。*/
	background-position: center center; /* positionも中央に。*/
	background-size: cover; /* 画面サイズに応じてサイズを可変するように設定。*/
	left: 0;
	/* 以下、画面いっぱいにするためのCSS設定*/
	min-height: 100%;
	min-height: 100vh;
	min-width: 100%;
	min-width: 100vw;
	/* wrapperのサイズに応じて、leftの位置をjQueryで指定するため、positionはabsoluteにします。*/
	position: absolute;
	top: 0;
	/* z-indexは調整してください。*/
	/*z-index: 1;*/
}